.hidden{
    display: none;
}
input {
    display:block;
    font-size:1.2em;
    height: 3em;
    width: 15em;
    border-radius: 3px;
    background-color: rgba(227, 245, 231, 0.46);
    margin:auto;
    margin-bottom:1em;
    padding-left: 1em;
}
form {
    border-radius: 5px;
    border: solid thin blue;
    width:20em;
    text-align: center;
    position: relative;
}
#test_auth {
    background-color: rgba(226, 192, 200, 0.38);
}

#logout {
    margin:1em;
}
#auth_results{
    background-color: rgb(224, 245, 245);
    padding: 2em;
    border-radius: 5px;
}
