{
    "httpsPort": 3000,
    "httpPort": 3001,
    "sslCertPath": "/coins/keys/comodo_mrn_wildcard_ssl_cert/STAR_mrn_org.crt",
    "sslKeyPath": "/coins/keys/comodo_mrn_wildcard_ssl_cert/mrn_wildcard.key",
    "sslBundlePath": "/coins/keys/comodo_mrn_wildcard_ssl_cert/STAR_mrn_org.ca-bundle",
    "hawkKeyLifespan": 1800000, 
    "algorithm": "sha256",
    "userMcryptKey": "USER_MCRYPT_KEY",
    "defaultUser": {
        "username": "john",
        "password": "$2a$10$iqJSHD.BGr0E2IxQwYgJmeP3NvhPrXAeLSaGCj6IR/XU5QtjVu5Tm",
        "name": "John Doe",
        "id": "2133d32a"
    },
    "redisMaster": {
        "host": "devrediscoin1.mrn.org",
        "port": 6379
    },
    "redisSlave1": {
        "host": "devrediscoin2.mrn.org",
        "port": 6379
    },
    "redisSlave2": {
        "host": "devrediscoin3.mrn.org",
        "port": 6379
    },
    "redis": {
        "host": "localhost",
        "port": 6379
    },
    "dbconfig": {
        "debug": true,
        "client": "pg",
        "connection": {
            "host": "devdbcoin.mind.unm.edu",
            "port": 5432,
            "user": "ni_developers",
            "password": "DATABASE_PASSWORD",
            "database": "rdb"
        },
        "pool": {
            "min": 1,
            "max": 10
        }
    },        
    "logPath": "./logs"
}
