const factory = function(ApiClient{{#apiInfo}}{{#apis}}, {{importPath}}{{/apis}}{{/apiInfo}}) {
  'use strict';

  /**
   * Initialize the API client (singleton)
   * @param  {object} config contains properties:
   *                         apiUrl: the base URL of the remote API host
   *                         xhrAgent: the XHR Agent to be used: (axios)
   *                         authStore: a persistent data store for auth keys.
   *                             should implement a sync localstorage interface.
   * @return {object} apiClient object
   */
  return function(config){
    const xhrAgent = config.xhrAgent;

    // initialize the default ApiClient
    ApiClient.init(config.apiUrl, xhrAgent);

    return {
      ApiClient: ApiClient{{#apiInfo}}{{#apis}},
      {{importPath}}: new {{importPath}}(){{/apis}}{{/apiInfo}}
    };
  };
};

module.exports = factory(require('./ApiClient'){{#apiInfo}}{{#apis}}, require('./api/{{importPath}}'){{/apis}}{{/apiInfo}});